<section class="flex justify-center items-center">
  <div>
    <h1>{{ section.settings.title }}</h1>
    <div class="collection-container">
      {% for collection in collections %}
        <h3>{{ collection.title | link_to: ' collection.url' }}</h3>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .more-info-wrapper {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
</style>

{% schema %}
{
  "name": "All Collections",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Collections"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "All Collections"
    }
  ]
}
{% endschema %}
