{% if section.settings.show_annoucement %}
  <section>
    <div class="annoucement-bar">
      <div class="annoucement-bar-left-section">
        {% if section.settings.image != blank %}
          <img
            src="{{ section.settings.image | image_url: width: 100 }}"
            alt="{{ section.settings.image.alt }}"
            width="40"
            height="40"
            loading="lazy"
          >
        {% else %}
          <img
            width="40"
            height="40"
            loading="lazy"
            src="{{ 'annoucement-bar-logo.png' | asset_url }}"
          >
        {% endif %}
      </div>
      <div class="annoucement-bar-right-section">
        <p>{{ section.settings.annoucement_text }}</p>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Annoucement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_annoucement",
      "label": "Show Annoucement",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "This image will be displayed on the left side of the annoucement bar"
    }
  ],
  "presets": []
}
{% endschema %}
