<section>Annoucement Bar</section>

{% schema %}
{
  "name": "Annoucement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_annoucement",
      "label": "Show Annoucement",
      "default": true
    }
  ],
  "presets": []
}
{% endschema %}
