<section>
  <div class="banner">
    <div class="banner__content">
      <h1>Banner</h1>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Banner",
  "settings": [],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
