<section class="flex justify-center items-center">
  {% comment %}
    {% paginate collection.products by 4 %}
      {{ paginate | default_pagination }}
    {% endpaginate %}
  {% endcomment %}
  <h2 class="text-2xl font-bold">Collection</h2>
</section>

<style>
  .more-info-wrapper {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
</style>

{% schema %}
{
  "name": "Colllection",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#ffffff"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
