<section>
  <div class="three-images-wrapper flex flex-row">
    {% if section.settings.image1 != blank %}
      <div class="one-user">
        <h1>Image 1</h1>
      </div>
    {% else %}
      <div
        class="w-1/3 h-[560px] bg-cover bg-center"
        style="background-image: url({{ 'one.png' | asset_url }})"
      >
        <h1>Image 1</h1>
      </div>
    {% endif %}

    {% if section.settings.image2 != blank %}
      <div class="two-user">
        <h1>Image 1</h1>
      </div>
    {% else %}
      <div
        class="w-1/3 h-[560px] bg-cover bg-center"
        style="background-image: url({{ 'two.png' | asset_url }})"
      >
        <h1>Image 1</h1>
      </div>
    {% endif %}

    {% if section.settings.image3 != blank %}
      <div class="three-user">
        <h1>Image 1</h1>
      </div>
    {% else %}
      <div
        class="w-1/3 h-[560px] bg-cover bg-center"
        style="background-image: url({{ 'three.png' | asset_url }})"
      >
        <h1>Image 1</h1>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Three Images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1",
      "info": "400 * 120px .png recomemded",
      "default": "one.png"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2",
      "info": "400 * 120px .png recomemded",
      "default": "two.png"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3",
      "info": "400 * 120px .png recomemded",
      "default": "three.png"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Three Images"
    }
  ]
}
{% endschema %}
