<section>
  <div class="three-images-wrapper flex flex-row">
    {% assign image_keys = 'image1,image2,image3' | split: ',' %}
    {% assign default_images = 'one.png,two.png,three.png' | split: ',' %}

    {% for key in image_keys %}
      {% assign index = forloop.index0 %}
      {% assign chosen_image = section.settings[key] %}
      <div
        class="w-1/3 h-[560px] bg-cover bg-center"
        style="background-image: url({% if chosen_image != blank %}{{ chosen_image | image_url }}{% else %}{{ default_images[index] | asset_url }}{% endif %})"
      ></div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Three Images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1",
      "info": "400 * 120px .png recomemded"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2",
      "info": "400 * 120px .png recomemded"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3",
      "info": "400 * 120px .png recomemded"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Three Images"
    }
  ]
}
{% endschema %}
